{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% translate "Account Inactive" %}
{% endblock head_title %}
{% block content %}
<div class="container mt-5">
    <div class="header-container">
        <h2 class="header-custom">{% translate "Account Inactive" %}</h2>
    </div>
    <div class="list-container">
        <ul class="list-group mt-3 content-container">
            <p>{% translate "This account is inactive." %}</p>
        </ul>
    </div>
</div>
{% endblock content %}