{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% translate "Reauthenticate" %}
{% endblock head_title %}
{% block content %}
<div class="container mt-5">
    <h1>{% translate "Reauthenticate" %}</h1>
    <form method="post" action="{% url 'account_reauthenticate' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="password">{% translate "Password" %}:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">{% translate "Reauthenticate" %}</button>
    </form>
</div>
{% endblock content %}
