{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block title %}
    {% trans "Set Password" %}
{% endblock title %}
{% block content %}
<div class="content-block">
    <h1>{% trans "Set Password" %}</h1>
    {% url 'account_set_password' as action_url %}
    <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {{ redirect_field }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% trans 'Set Password' %}</button>
    </form>
</div>
{% endblock content %}
