{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% translate "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="container mt-5">
    <div class="header-container">
        <h2 class="header-custom">{% translate "Password Reset" %}</h2>
    </div>
    <div class="list-container">
        <ul class="list-group mt-3 content-container">
            <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">{% translate "Email" %}:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">{% translate "Reset Password" %}</button>
            </form>
        </ul>
    </div>
</div>
{% endblock content %}