{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% translate "Sign Up" %}
{% endblock head_title %}
{% block content %}
<div class="container mt-5">
    <h1>{% translate "Sign Up" %}</h1>
    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">{% translate "Username" %}:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="email">{% translate "Email" %}:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password1">{% translate "Password" %}:</label>
            <input type="password" class="form-control" id="password1" name="password1" required>
        </div>
        <div class="form-group">
            <label for="password2">{% translate "Confirm Password" %}:</label>
            <input type="password" class="form-control" id="password2" name="password2" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">{% translate "Sign Up" %}</button>
    </form>
</div>
{% endblock content %}
