{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% translate "Logout" %}
{% endblock head_title %}
{% block content %}
<div class="container mt-5">
    <div class="header-container">
        <h2 class="header-custom">{% translate "Logout" %}</h2>
    </div>
    <div class="list-container">
        <ul class="list-group mt-3 content-container">
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mt-3">{% translate "Confirm Logout" %}</button>
            </form>
        </ul>
    </div>
</div>
{% endblock content %}
