{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% translate "Password Reset Done" %}
{% endblock head_title %}
{% block content %}
<div class="container mt-5">
    <div class="header-container">
        <h2 class="header-custom">{% translate "Password Reset Done" %}</h2>
    </div>
    <div class="list-container">
        <ul class="list-group mt-3 content-container">
            <p>{% translate "An email has been sent with instructions to reset your password." %}</p>
        </ul>
    </div>
</div>
{% endblock content %}