{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="header-custom nav-link-post-title">Escolha do Banco de Dados</h2>
    <div class="content-block">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="database_name">Selecione um Banco de Dados:</label>
                <select class="form-control" id="database_name" name="database_name" required>
                    {% for db in databases %}
                        <option value="{{ db }}">{{ db }}</option>
                    {% endfor %}
                </select>
                <button type="submit" name="select_db" class="btn btn-primary mt-2">Selecionar</button>
            </div>
        </form>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="new_database_name">Ou crie um novo banco de dados:</label>
                <input type="text" class="form-control" id="new_database_name" name="new_database_name" required>
                <button type="submit" name="create_db" class="btn btn-secondary mt-2">Criar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
